* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 20px;
  margin: 20px 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn button {
  padding: 10px;
  border-radius: 25px;
  background-color: coral;
  color: white;
  border: none;
}

img {
  width: 200px;
}

table {
  text-align: center;
}

th {
  padding: 20px;
}

td {
  padding: 20px;
}